/* ========== RESET STYLE ========== */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ========== BODY ========== */

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

/* ========== NAVBAR ========== */

header{
  width: 100vw; 
  height: 64px; 
  background-color: #1f2937;
}

/* Select navbar */
.nav-bar {
  max-width: 1200px; 
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Select header logo */
.nav-bar .left-links ul li {
  color: #f9faf8;
  font-size: 24px;
}

/* Select nav-bar ul */
ul {
  list-style-type: none; /* Remove the dots on the list items*/
  display: flex; /* position ul in a row */
  gap: 30px;
  padding: 5px;
}

 a {
  text-decoration: none;
  color: #e5e7eb;
}

/* ========== HERO ========== */

.hero{
  margin: 0 auto; 
  margin-top: 50px;
  width: 1200px;
  /* height: 200px; */
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  margin-bottom: 50px;
}

.hero-left{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.hero-right{
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 250px;
}


.hero-left button{
  background-color:#3882f6;
  color: #eee;
  border: none;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}

/* Hero image */
.hero-right img {
  height: 100%;
  width: 100%;
  object-fit: contain; /* Get the image to fit inside its container */
}

/* Select h1 inside hero */
.hero .hero-left h1{
  margin: 0;
  color: #f9faf8;
  font-size: 48px;
}

/* Select p inside hero */
.hero .hero-left p{
  margin-top: 0;
  width: 380px;
  color: #e5e7eb;
  font-size: 18px;
}


/* ========== INFORMATION ========== */

/* Style Header*/
.information-header{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #1f2837;
  font-size: 36px;
  background-color: #eee;
  padding-top: 50px;
  margin-left: 0;
  margin-right: 0;
}

.information-container{
  margin: 0 auto; 
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* image and text container */
.media {
  margin-top: 20px;
  margin-bottom: 80px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Style image subtext */
.media .text {
  color: #000;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  padding-top: 10px;
}

/* resize images */
.information-container .media img {
  width: 300px;
  height: auto;
  object-fit: contain; /* Get the image to fit inside its container */
}

/* ========== QUOTE ========== */

.quote{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

/* ========== CALL TO ACTION ========== */

.call-to-action{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: #eee;
}


/* ========== FOOTER ========== */

footer {
  height: 72px;
  background-color: #1f2937;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}