body {
  margin: 0; /* remove margin from page */
  font-family: 'Roboto', arial;
}


.page-container {
  height: 100vh; /* Set page-container to full viewport height */
  width: 100vw; /* Set page-container to full viewport width */
  display: flex;
  flex-direction: column;
  /* border: solid 1px red; */
}

/* =========== HEADER ============== */

.header-container {
  display: flex; /* Set logo and nav to row */
  align-items: center; /* Center logo and nav via cros axis */
  justify-content: space-around;
  background-color: #1F2937;
  color: #F9FAF8;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border: solid 1px red; */
}

.logo-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 5px #eee;
    object-fit: cover;

  /* border: solid 1px red; */
}
.nav-links-container ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
  font-size: 20px;
  /* border: solid 1px red; */
}

.nav-links-container ul li a {
  color: #e5e7eb;
  text-decoration: none;
}


/* =========== HERO SECTION ============== */

.hero-container {
  display: flex;  /* Set hero-left and hero-right to row */
  color: #F9FAF8;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px; /* Add space between Hero and Content Section */
  /* padding: 90px;   */
  /* border: solid 1px red; */
}

.hero-left-container {
    display: flex; 
    flex-direction: column; /* Set h1, p and button to stack on top of each other */
    flex-basis: 400px; /* Set size of hero-left container */
  /* border: solid 1px red; */
}

.hero-left-container h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 0;
}

.hero-left-container p {
  opacity: 0.7;
  margin-bottom: 16px;
}

.hero-left-container button {
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #F9FAF8;
}

.hero-right-container {
  max-width: 300px;
  margin-left: 80px;
}

.hero-right-container img {
  width: 100%;
  border: 10px solid #eee;
}

/* =========== CONTENT SECTION ============== */

.content-container {
  display: flex; /* Set flex to content section to add responsiveness */
  flex-direction: column;
  max-width: 100%;
  max-height: 700px;
  /* border: solid 1px red; */
}

.content-container h2 { /* Center Heading for content section */
  text-align: center;
  font-size: 36px;
}

.content-info-container { /* Center Heading for content section */
  display: flex;
  justify-content: center;
  gap: 25px; /* Add space between each content item */
  /* border: solid 1px red; */
}

.content-info-container .content {
 max-width: 300px;
 max-height: 300px;
 /* border: solid 1px blue; */
}

.content-info-container .content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: solid 3px #6b97dd;
}

.content-info-container .content p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;

  /* border: solid 1px blue; */
}

/* =========== QUOTE SECTION ============== */

.quote-section-container {
  margin-top: 80px; /* Add space content and quote section */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e5e7eb;
  /* border: solid 1px red; */
}

.quote-section-container blockquote {
  display: flex;
  max-width: 800px;
  /* border: 1px solid green; */
}

.quote-section-container .quote {
  font-size: 36px;
  color: #172937;
  text-align: center;
}

.quote-section-container cite {
  font-size: 36px;
  color: #172937;
}

/* =========== SIGN UP SECTION ============== */

.sign-up-container { /* Center all items inside the sign up section */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.sign-up-content {
  display: flex;
  align-items: center;
  background: #3882f6;
  border-radius: 5px;
  margin-top: 50px; /* Add space between sign-up content and the top of its container */
  margin-bottom: 50px; /* Add space between sign-up content and the bottom of its container */
  /* border: solid 1px blue; */
}

.sign-up-left-side {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sign-up-right-side {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.sign-up-left-side h2 {
  color: #F9FAF8;
  font-size: 38px;
  padding-left: 50px;
}

.sign-up-right-side button{ /* Button for call to action section */
    border: solid 1px #F9FAF8;
    text-align: center;
    width: 110px;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #F9FAF8;
}

.sign-up-left-side p { /* Paragraph for call to action section */
  color: #F9FAF8;
  padding-left: 50px;
}

/* =========== FOOTER SECTION ============== */

footer {
  background-color: #1F2937;
}

footer p {
  text-align: center;
  color: #F9FAF8;
  padding-top: 15px;
  padding-bottom: 15px;
}